<h2 class="mx-0, mb-2 text-center text-3xl font-bold text-white">Login to Alpha Blog</h2>

<%= form_with scope: :session, url: login_path, local: true, data: { turbo: false}, class: "shadow-lg w-2/5 mx-auto border border-solid border-black flex flex-col bg-gray-400 mb-4" do |f| %>

  <fieldset class="mx-auto flex flex-col w-1/2 my-2">
    <%= f.label :email, class:"text-lg"%>
    <%= f.email_field :email %>
  </fieldset>

  <fieldset class="mx-auto flex flex-col w-1/2 my-2">
    <%= f.label :password, class:"text-lg"%>
    <%= f.password_field :password %>
  </fieldset>

  <%= f.submit "Login", class: "bg-white border-solid border mx-auto w-1/4 align-center border-black my-2"%>

<% end %>

<div class="flex flex-row mx-auto text-center justify-center">
<p class="text-white">New user? <%= link_to "Sign Up Here", signup_path, class:"underline p-1 hover:bg-black hover:text-white" %></p>
</div>