<h2 class = "font-bold text-3xl mx-auto text-center mb-4 text-white">Articles</h2>

<p class="text-center mx-auto underline my-4 text-white"><%= link_to "Create New Article", new_article_path if logged_in? %></p>

<div class="mx-auto text-center w-max mb-4">
<%= form_with url: articles_path, method: :get, class: "flex flex-row", data: { turbo_frame: "results", turbo_action: "advance",
                                                                              controller: "search", action:"input->search#submit" } do %>
  <%= text_field_tag "filter", nil, placeholder: "Search titles", class: "" %>
<% end %>
</div>

<%= turbo_frame_tag "results" do %>
  <% if @pagy.pages > 1 %>
    <div class="w-max mx-auto bg-white rounded-md shadow-md"><%== pagy_nav(@pagy) if @pagy.pages > 1 %></div>
  <% end %>
  <%= render 'article' %><br>
  <% if @pagy.pages > 1 %>
    <div class="w-max mx-auto bg-white rounded-md shadow-md"><%== pagy_nav(@pagy) if @pagy.pages > 1 %></div>
  <% end %>
<% end %>

<p class="text-center mx-auto underline my-2 text-white"><%= link_to "Create New Article", new_article_path if logged_in? %></p>