<h2>Showing article details</h2>

<h2><%= @article.title%></h2>
<p><strong>by: </strong><%= link_to @article.user.username, user_path(@article.user) if @article.user %></p>
<p><strong>description: </strong><%= @article.description%></p>

<div>
  <%= link_to "Edit", edit_article_path(@article) %></li>
  |
  <%= link_to "Delete", article_path(@article), data: { turbo_method: :delete, turbo_confirm: "Are you sure?"} %></li>
</div>
