<h2 class = "font-bold text-3xl mx-auto my-2 text-center text-white">Users</h2>

<div class="flickr_pagination w-80 mx-auto bg-white rounded-md shadow-md">
  <%= will_paginate @users %>
</div>
<%= render 'user' %> <br>
<div class="flickr_pagination w-80 mx-auto bg-white rounded-md shadow-md">
  <%= will_paginate @users %>
</div>

<% unless logged_in? %>
  <div class="text-center my-4">
    <p class="mx-10" ><%= link_to "Sign up", signup_path, class:"underline p-2 hover:bg-black hover:text-white" %> &sol; <%= link_to "Log in", login_path, class:"underline p-2 hover:bg-black hover:text-white" %> to blog!</p>
  </div>
<% end %>