<h2 class = "font-bold text-3xl mx-auto mb-4 text-center text-white">Users</h2>

<div class="mx-auto text-center w-max mb-4">
<%= form_with url: users_path, method: :get, class: "flex flex-row", data: { turbo_frame: "results", turbo_action: "advance",
                                                                              controller: "search", action:"input->search#submit" } do %>
  <%= text_field_tag "filter", nil, placeholder: "Search usernames", class: "" %>
<% end %>
</div>

<%= turbo_frame_tag "results" do %>
  <% if @pagy.pages > 1 %>
    <div class="w-max mx-auto bg-white rounded-md shadow-md"><%== pagy_nav(@pagy, link_extra: "data-turbo-action='advance'") if @pagy.pages > 1 %></div>
  <% end %>
  <%= render 'user' %>
  <% if @pagy.pages > 1 %>
    <div class="w-max mx-auto bg-white rounded-md shadow-md"><%== pagy_nav(@pagy, link_extra: "data-turbo-action='advance'") if @pagy.pages > 1 %></div>
  <% end %>
<% end %>


<% unless logged_in? %>
  <div class="text-center my-4">
    <p class="mx-10 text-white" ><%= link_to "Sign up", signup_path, class:"underline p-2 hover:bg-black hover:text-white" %> &sol; <%= link_to "Log in", login_path, class:"underline p-2 hover:bg-black hover:text-white" %> to blog!</p>
  </div>
<% end %>