<h2 class = "font-bold text-3xl mx-auto mb-4 text-center text-white">Users</h2>

<% if @length > @padg %>
  <div class="flickr_pagination w-80 mx-auto bg-white rounded-md shadow-md"><%= will_paginate @users %></div>
<% end %>
<%= render 'user' %>
<% if @length > @padg %>
  <div class="flickr_pagination w-80 mx-auto bg-white rounded-md shadow-md"><%= will_paginate @users %></div>
<% end %>

<% unless logged_in? %>
  <div class="text-center my-4">
    <p class="mx-10 text-white" ><%= link_to "Sign up", signup_path, class:"underline p-2 hover:bg-black hover:text-white" %> &sol; <%= link_to "Log in", login_path, class:"underline p-2 hover:bg-black hover:text-white" %> to blog!</p>
  </div>
<% end %>