<%= turbo_stream.update dom_id(@user, :box) do %>
  <%= form_with model: @user, local: true, data: { turbo: false}, class: "flex flex-col" do |f| %>

    <%= f.text_field :username, class:"m-0 p-0", placeholder:"Username" %>

    <%= f.email_field :email, class:"m-0 p-0", placeholder:"Email" %>

    <%= f.password_field :password, class:"m-0 p-0", placeholder:"Password" %>

    <div class="flex flex-row mx-auto justify-between">
      <%= f.submit class: "text-sm bg-white border-solid border w-1/4 align-center border-black min-w-max px-1.5", value: "Update" %>
      <div class="mx-5"></div>
      <%= link_to "Cancel", users_path, class: "text-sm bg-white border-solid border min-w-max px-1.5 align-center border-black" %>
    </div>
  <% end %>
<% end %>
