<h2>Welcome to the page of&colon; <%= @user.username %></h2>

<%= gravatar_for @user, size: 200 %>

<p><%= link_to "Edit your profile", edit_user_path(@user) if logged_in? && @user == current_user %></p>

<h3>Articles</h3>
<%= will_paginate @articles %>
<%= render "articles/article" %>

<br>
<% if logged_in? && @user == current_user %>
  <h5 style="color:red;"><%= link_to "Delete your Account", user_path(@user), data: { turbo_method: :delete, turbo_confirm: "Are you sure? This will also delete all associated articles." } %></h5>
<% end %>