<div class="mt-2 mb-3 mx-auto max-w-xl p-4 item-center flex flex-row bg-white rounded-lg whitespace-nowrap shadow-lg">
  <%= gravatar_for @user, size: 200 %>
  <div class="flex-col whitespace-nowrap m-4">
    <h2 class="text-2xl font-bold my-2"><%= @user.username %></h2>
    <address class="truncate my-2"><%= @user.email %></address>
    <% if logged_in? && (@user == current_user || current_user.admin?) %>
      <p class="text-blue-800 underline my-2"><%= link_to "Edit profile", edit_user_path(@user), data:{ turbo_frame: "edit_form" }%></p>
      <h5 class="text-red-800 underline my-2"><%= link_to "Delete Account", user_path(@user), data: { turbo_method: :delete, turbo_confirm: "Are you sure? This will also delete all associated articles." } %></h5>
    <% end %>
  </div>
</div>

<%= turbo_frame_tag "edit_form" do %>
<% end %>

<% if @articles.length != 0 %>
  <% if @pagy.pages > 1 %>
    <div class="flickr_pagination w-max mx-auto bg-white rounded-md shadow-md"><%== pagy_nav(@pagy) if @pagy.pages > 1 %></div>
  <% end %>
  <%= render "articles/article" %>
  <% if @pagy.pages > 1 %>
    <div class="flickr_pagination w-max mx-auto bg-white rounded-md shadow-md"><%== pagy_nav(@pagy) if @pagy.pages > 1 %></div>
  <% end %>
<% end %>

