<h2 class = "font-bold text-3xl mx-auto mb-4 text-center text-white">Category&colon; <%= @category.name %></h2>

<p class="text-center mx-auto text-white mb-2" ><%= link_to "Categories", categories_path, class: "underline p-4" %></p>

<% if @category.articles.length != 0 %>
  <% if @pagy.pages > 1 %>
    <div class="flickr_pagination w-max mx-auto bg-white rounded-md shadow-md"><%== pagy_nav(@pagy) if @pagy.pages > 1 %></div>
  <% end %>
  <%= render "articles/article" %>
  <% if @pagy.pages > 1 %>
    <div class="flickr_pagination w-max mx-auto bg-white rounded-md shadow-md mb-2"><%== pagy_nav(@pagy) if @pagy.pages > 1 %></div>
  <% end %>
  <p class="text-center mx-auto text-white" ><%= link_to "Categories", categories_path, class: "underline p-4" %></p>
<% end %>

<% if logged_in? && current_user.admin? %>
  <p class="mx-auto text-blue-800 underline my-2 text-center bg-white p-1 rounded-lg max-w-min shadow-lg hover:bg-black hover:text-white">
    <%= link_to "Update", edit_category_path(@category) %>
  </p>
<% end %>